# Registers a punch at 9:00am and 6:00pm every weekday
00 09,18 * * 1-5 caltime --credentials ~/credentials.txt --punch

# Registers a punch with the same schedule as before, but within a random 10
# minute window
# 55 08,17 * * 1-5 sleep $((60 * (RANDOM % 10))); caltime --credentials ~/credentials.txt --punch
